<h2>Exchange rates</h2>
<ul class="exchangeRates">
  <li *ngFor="let exchangeRate of exchangeRates">
    <div>{{exchangeRate?.date}}</div>
    <div>{{exchangeRate?.currency}}</div>
    <div>{{exchangeRate?.quantity}}</div>
    <div>{{exchangeRate?.unitDescription}}</div>
    <div>{{exchangeRate?.rate}}</div>
    <div>{{exchangeRate?.rateChangeVsPreviousDay}}</div>

    <!-- <span class="badge">{{exchangeRate?.date}}</span>
    <span class="badge">{{exchangeRate?.currency}}</span>
    <span class="badge">{{exchangeRate?.quantity}}</span>
    <span class="badge">{{exchangeRate?.unitDescription}}</span>
    <span class="badge">{{exchangeRate?.rate}}</span>
    <span class="badge">{{exchangeRate?.rateChangeVsPreviousDay}}</span> -->
  </li>
</ul>
