<div class="header">
  <app-header (onDateChange)="getExchangeRatesByDate($event)"></app-header>
  <h1>Exchange rates for {{exchangeRates[0]?.date?.substring(0, 10)}} </h1>
</div>


<div class="exchangeRates">
  <mat-card *ngFor="let exchangeRate of exchangeRates" class="exchange-rate-card">
    <mat-card-header>
      <mat-card-title>{{exchangeRate.currency}}: {{exchangeRate.rate}}</mat-card-title>
      <mat-card-subtitle [ngClass]="{rateChangePositive: (exchangeRate.rateChangeVsPreviousDay > 0),
        rateChangeNegative: (exchangeRate.rateChangeVsPreviousDay < 0)}">
        {{exchangeRate.rateChangeVsPreviousDay}} vs. previous day rate</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <span>{{ exchangeRate?.unitDescription }}</span>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
</div>
